---
import BaseLayout from '../layouts/BaseLayout.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout title="Joshua Morris">
  <main class="flex h-full p-0 m-0 items-center justify-center min-h-screen bg-[#f9f9f9]">
    <section class="content">
      <h1 class="font-sans text-[7.35rem] font-black leading-none tracking-[-0.1rem] text-[#21211f] p-0">
        Joshua Morris
      </h1>
    </section>
  </main>
  <Footer />
</BaseLayout>

