---
import '@fortawesome/fontawesome-svg-core/styles.css';
import '../scripts/fontawesome.js';
---

<footer class="absolute bottom-[35px] w-full text-center">
  <a
    href="https://www.linkedin.com/in/joshuamorris2"
    title="Joshua Morris on LinkedIn"
    target="_blank"
    rel="noopener noreferrer"
    class="text-xl text-[#21211f] px-2 no-underline hover:opacity-80"
  >
    <i class="fab fa-linkedin-in"></i>
  </a>
  <a
    href="https://github.com/joshuamorris3"
    target="_blank"
    rel="noopener noreferrer"
    title="Joshua Morris on GitHub"
    class="text-xl text-[#21211f] px-2 no-underline hover:opacity-80"
  >
    <i class="fab fa-github"></i>
  </a>
  <a
    href="https://keybase.io/joshuamorris"
    target="_blank"
    rel="noopener noreferrer"
    title="Joshua Morris on Keybase"
    class="text-xl text-[#21211f] px-2 no-underline hover:opacity-80"
  >
    <i class="fab fa-keybase"></i>
  </a>
</footer>

